body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    margin-left: 10px;
    color: #fff;
}

.head {
    font-size: 20px;
    width: 200px;
    text-align: center;
}

.hoodies-image {
    height: 200px;
    width: 200px;
}

.image {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

.button2 {
    border: 2px solid white;
    border-radius: 50%;
    height: 10px;
    width: 20px;
}

.container {
    margin: 20px auto;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
}

.items {
    border: 2px solid black;
    margin-left: 10px;
    padding: 10px;
}

.heading {
    font-size: 40px;
    width: 350px;
    margin-left: 20px;
}

.watch-now {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#results {
    margin-top: 20px;
}
